name: LovelyDrop Build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    name: "Using JDK ${{ matrix.jdk }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [21]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build and Package
        run: mvn -B clean package
      - name: Check codestyle
        run: mvn spotless:check